.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Filter-container {
  margin: -2rem 0rem 0rem 5rem;
  min-width: fit-content;
}

.Date-div {
  width: 15%;
  float: left;
}

.Input-div {
  width: 40%;
  float: left;
  padding: 0px 0px 0px 62px;
}

.Input-text {
  height: 22px;
  width: 100%;
}

.Span-button {
  margin-left: -12rem;
}

.Date {
  calendarAriaLabel: "aria-label";
}

.Button {
  height: 28px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
